<div class="header-container">
    <div class="header-socials">
        <img src='../../assets/facebook-icon.png' width='25px' height="25px" class="facebook-icon" alt='facebook-icon'/>

        <img src='../../assets/instagram-icon.png' width='25px' height="25px" class="instagram-icon" alt="instagram-icon"/>
        <img src='../../assets/youtube-icon.jpeg' width='25px' height="25px" class='youtube-icon' alt='youtube-icon'/>
    </div>
    <div class="header-navbar">
        <div class="header-navbar-title">
            <h1>TOP FIERA</h1>
        </div>
        <div class="header-navbar-links">
            <a href="top40Tracks" class="link-top40">
                TOP 40 SONGS
            </a>
            <a href="top40Albums" class="link-topAlbums">
                TOP 40 ALBUMS
            </a>
            <a href="tipParade" class="link-tipParade">
                TIP PARADE
            </a>
            <a href="top40Movies" class="link-topMovies">
                TOP 40 MOVIES
            </a>
        </div>
    </div>
    <div class="header-functionalities">
        <div class="header-functionalities-burger">
            <mat-icon>
                <span class="material-icons-outlined">
                    menu
                    </span>
            </mat-icon>
        </div>

        <div class="header-functionalities-search">
            <button class="open-search-btn">
                <mat-icon>
                    <span class="material-icons-outlined">
                        search
                        </span>
                </mat-icon>
            </button>

        </div>
        <div class="header-functionalities-listen">
            <mat-icon>
                <span class="material-icons-outlined">
                    headphones
                    </span>
            </mat-icon>
        </div>
    </div>
</div>
