<script src="../../app/app.module.ts"></script>
<app-nav></app-nav>
<div class="topAlbum-chart">
  <div class="topAlbum-filter">
    <mat-form-field>
      <mat-select (selectionChange)="handleWeekChange($event)"
                  placeholder='Select week'
                  [value]="defaultSelectedWeek">
        <ng-container *ngFor="let week of availableWeeks$ | async">
          <mat-option [value]="week">
            {{week}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <div class="year-navigator">
      <mat-form-field>
        <mat-select (selectionChange)="handleYearChange($event)"
                    placeholder='Select year'
                    [value]="defaultSelectedYear">
          <ng-container *ngFor="let year of years">
            <mat-option [value]="year">
              {{year}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <table class='table'>
    <tr>
      <th>No.</th>
      <th class='hide-col'>PREVIOUS</th>
      <th class='hide-col'>ACC</th>
      <th>
        <mat-icon>
          apple
        </mat-icon>
      </th>
      <th>COVER</th>
      <th class='col-title'>TITLE</th>
      <th class='col-title'>ARTIST</th>
      <th class='hide-col'>LABEL</th>
    </tr>
    <ng-container *ngFor='let album of top40Albums$ | async'>
      <tr>
        <td >{{album.position}}</td>
        <td class='hide-col'>{{album.prev_position}}</td>
        <td class='hide-col'>{{album.num_weeks_cumulative}}</td>
        <td>
          <a [href]='album.itunes_track_url'>
            <mat-icon>play_circle</mat-icon>
          </a>
        </td>
        <td>
          <img [src]="album.cover_img_url_small" alt="album-cover">
        </td>
        <td class='col'>{{album.title}}</td>
        <td class='col'>{{album.credit}}</td>
        <td class='hide-col'>{{album.label}}</td>
      </tr>
    </ng-container>
  </table>
</div>
<app-footer></app-footer>
