<div class="footer-container">
    <div class="footer-socials">
     <h1>
         Facebook
     </h1>
     <h1>
         Instagram
     </h1>
     <h1>
         YouTube
     </h1>
    </div>
    <div class="footer-links">
        <a href="#" class="">
                Newsletter
        </a>
        <a href="#" class="">
                Advertising
        </a>
        <a href="#" class="">
                Careers
        </a>
        <a href="#" class="">
                Contact
        </a>
    </div>
    <div class="footer-rights">
        <p>@All Rights Reserved</p>
    </div>
</div>
